* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
  }
  
  body {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1E293B;
  }
  
  .double_range_slider_box {
	position: relative;
	width: 70%;
	max-width: 700px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	
  }
  
  .double_range_slider {
	width: 90%;
	height: 10px;
	position: relative;
	background-color: #475569;
	border-radius: 20px;
  }
  .range_track {
	height: 100%;
	position: absolute;
	border-radius: 20px;
	background-color: #8B5CF6
  }
  
  input {
	position: absolute;
	width: 100%;
	height: 5px;
	background: none;
	pointer-events: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	top: 50%;
	transform: translateY(-50%);
  }
  input::-webkit-slider-thumb {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 2px solid #8B5CF6;
	background-color: #fff;
	pointer-events: auto;
	-webkit-appearance: none;
	cursor: grab;
	margin-bottom: 1px;
  }
  input::-moz-range-thumb {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	border: 2px solid #8B5CF6;
	background-color: #fff;
	pointer-events: auto;
	-moz-appearance: none;
	cursor: grab;
	margin-top: 30%;
  }
  
  .minvalue {
	position: absolute;
	/* padding: 12px 17px; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 44px;
	background: #8B5CF6;
	border-radius: 3rem;
	color: #fff;
	bottom: -4px;
	transform: translate(0, -100%);
	left: 0;
	font-size: 1rem;
	transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	will-change: left, transform;
  }
  .minvalue::after{
	border: 7px solid transparent;
    border-top-color: inherit;
    bottom: -11px;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    color: #8B5CF6;
  }
  .maxvalue {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 44px;
	background: #8B5CF6;
	border-radius: 3rem;
	color: #fff;
	bottom: 84px;
	transform: translate(0, 100%);
	right: 0;
	font-size: 1rem;
	transition: right 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	will-change: right, transform;
  }
  .maxvalue::after{
	border: 7px solid transparent;
    border-top-color: inherit;
    bottom: -11px;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    color: #8B5CF6;
  }
  