* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #1E293B;
    font-family: sans-serif;
  }
  
  .main {
    width: 50%;
    margin: 14% auto;
    position: relative;
  }
  
  #slider {
    -webkit-appearance: none; 
    width: 100%;
    height: 7px;
    border-radius: 3px;
    background: #475569;
  }
  
  /* Design slider button */
  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: grab;
    position: relative;
    z-index: 3;
  }
  
  #selector {
    height: 95px;
    width: 48px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .selectBtn {
    height: 30px;
    width: 30px;
    background: #fff;

    /* background-size: cover;
    background-position: center; */
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    border: 2px solid #8B5CF6;;
  }
  #selectValue {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background: #8B5CF6;
    /* border-radius: 4px; */
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  #selectValue::after {
    /* color: #fff;
    content: '';
    border-top: 10px solid #8B5CF6;
    border-left: 30px solid #000;
    border-right: 30px solid #000;
    position: absolute;
    bottom: -10px;
    left: 0px; */

    border: 5px solid transparent;
    border-top-color: inherit;
    bottom: -8.5px;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    color: #8B5CF6;
  }
  #progressBar {
    width: 50%;
    height: 7px;
    background: #8B5CF6;
    border-radius: 3px;
    position: absolute;
    bottom: 4px;
    left: 0;
  }